extends layout

block content
	div.container-fluid
		div.row
			div.col-md-2.text-center
				h3 Level of Difficulty
				- for (var i = 1; i < 13; i++)
					h4 #{i}

				h3 Category of Shots
				h4 8 ball
				h4 9 ball
				h4 10 ball
				h4 Straight pool
				h4 Single shot
				h4 Multiple Shots
				h4 Position shots
			div.col-md-10
				- each table, index in tablelist
					div= table.title
					div.table(data-title="#{table.title}" data-user="#{user.username}" data-index="#{index}") 
						img.tableImage(src="/image/pool-table-top-view.png")

						-for i in table.array
							- var num = i.typeOfBall
							- var top = i.location.top
							- var left = i.location.left
							img.ball-on-table(src="/image/" + "#{num}.png", style="top: #{top}px; left: #{left}px")
						div.note-practice-shots= table.note

				div.modal.fade#myModal(tabindex="-1" role="dialog" ariala-belledby="myModalLabel" aria-hidden="true")
					div.modal-dialog(style="-webkit-transform: scale(1.5,1.5)")
						div.modal-content
							div.modal-header
								button.close(type="button" data-dismiss="modal")
									span(aria-hidden="true")&times;
									span.sr-only Close
								h4.modal-title#myModalLabel Practice Table
							div.modal-body

							div.modal-footer
								button.btn.btn-default(type="button" data-dismiss="modal") close